.projs-container {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.projs-container .subtitle {
  width: 1200px;
}
.projs-row {
  display: grid;
  justify-content: center;
  margin-top: 10px;
}

.row-1 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.proj-container {
  width: 30%;
  text-align: justify;
  padding: 0 15px 0 15px;
}

.proj-container p {
  margin-top: 15px;
}

.proj-title {
  display: flex;
  align-items: baseline;
}

.proj-title a {
  color: var(--red);
}

.proj-title a h1,
.proj-title h1 {
  line-height: 0.5;
}

.proj-title small {
  padding-left: 5px;
  font-weight: bold;
}

.proj-container-header {
  display: flex;
  justify-content: space-between;
}

.proj-icon {
  display: flex;
  justify-content: right;
  align-items: center;
}
