.facul-container {
  display: grid;
  justify-content: center;
}

.facul-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 850px;
  height: auto;
}

.facul-icon {
  margin-right: 8px;
}

.facul-text-row {
  font-size: 20px;
}
